<div class="column content">
    <div class="header">
        <h1>Curso de Github</h1>
    </div>
    <h2>Curso en Formato de Video</h2>
    <p>En este curso aprendera a como utilizar el controlador de versiones
        llamado GitHub
        El Cual podra subir su repositorio de codigo a la nube y compartirlo</p>
    <p>Se Recomienda aplicar o observar la siguiente lista de videos</p>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                    <img
                        src="https://res.cloudinary.com/dream-music/image/upload/v1661263073/angular/github2_braqwi.png"
                        alt>
                    <div class="card-body">
                        <h5 class="card-title">Como Crear Un Repositorio</h5>
                        <h6>Control de Versiones</h6>
                        <p align="justify"> En Este video Aprendera a crear un
                            repositorio de Github desde cero</p>
                        <button type="button" class="btn btn-primary">Reproducir</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                    <img
                        src="https://res.cloudinary.com/dream-music/image/upload/v1661263073/angular/github2_braqwi.png"
                        alt>
                    <div class="card-body">
                        <h5 class="card-title">Como Crear Un Repositorio</h5>
                        <h6>Control de Versiones</h6>
                        <p align="justify"> En Este video Aprendera a crear un
                            repositorio de Github desde cero</p>
                        <button type="button" class="btn btn-primary">Reproducir</button>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                    <img
                        src="https://res.cloudinary.com/dream-music/image/upload/v1661263073/angular/github2_braqwi.png"
                        alt>
                    <div class="card-body">
                        <h5 class="card-title">Como Crear Un Repositorio</h5>
                        <h6>Control de Versiones</h6>
                        <p align="justify"> En Este video Aprendera a crear un
                            repositorio de Github desde cero</p>
                        <button type="button" class="btn btn-primary">Reproducir</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
