<!-- <input [(ngModel)]="nombre">
<p>{{nombre}}</p> -->
<!-- <div>
    <h2>Lista de Tareas</h2>
    <ul>
        <li *ngFor="let tarea of tareas">
            {{tarea}}
        </li>
    </ul>

    <form>
        <input type="text" [(ngModel)]="nuevaTarea"  name="nuevaTarea" placeholder="Nueva Tarea">
        <button (click)="agregarTareas(nuevaTarea)">Agregar Tarea</button>
    </form>
</div> -->
<div class="container">
    <form>
        <div class="form-group">
            <h1 class="text-center text-primary">Lista de Tareas Diarias</h1>
            <div class>
                <input type="text" #todo class="form-control"
                    placeholder="Agregar Tarea">
                <span class="input-group-text" (click)="addtodo(todo.value)">Add</span>
            </div>
        </div>

        <div class="data" >
            <ul class="list-instyled">
                <li *ngFor="let item of mistareas " [class.done]="item.estado=='completado'">
                    {{item.tarea}}
                    <i (click)="deleteitem(item.tarea)" class="material-icons">delete</i>
                    <i (click)="completeitem(item.tarea)" class="material-icons" >done</i>
                </li>
               
            </ul>

        </div>
    </form>

</div>
