<!-- <span>{{ title }} </span>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<div *ngIf="estado">
  Este Elemento se mostrara si es True
</div>

<div [ngStyle]="estilos">
  Este es un texto con estilos Aplicados dinamicamente
</div>

<p>{{temario.curso}}</p>
<p>{{temario.version}}</p>
<p>{{temario.interfaz}}</p>
<p>{{producto.nombre}}</p>
<p>{{producto.precio}}</p>

<p>La Suma de 3 y 5 es: {{sumar(3,5)}}</p>

<p>Direccion Actual : {{direccionActual}}</p>

<p>La Fecha Actual es: {{ fechaActual | date:'yyyy-MM-dd'}}</p>

<button (click)="onBottonClic()">Haz Clik Sobre mi</button>
<p>{{mensaje}}</p> -->
<app-tareas></app-tareas>